@font-face {
    font-family: "BlissPro-Regular";
    src: url('assets/font/BlissPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: "BlissPro-Light";
    src: url('assets/font/BlissPro-Light.otf') format('opentype');
}

@font-face {
    font-family: "BlissPro-ExtraLight";
    src: url('assets/font/BlissPro-ExtraLight.otf') format('opentype');
}

